body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #ffffff;
}
html{
    scroll-behavior: smooth;
}
#top{
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 11;
    font-size: 1.5rem;
    width: 15px;
    height: 15px;
    padding: 6px 10px 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(0,0,0,.8);;
    cursor: pointer;
    transition: .5s;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}
#top a{
    color: #ffffff;
    text-decoration: none;
}
#top.active{
    pointer-events: auto;
    opacity: 1;
    bottom: 40px;
}
#top:hover{
    background: rgba(26,117,188,.8);
}
/* manicontrol */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: sticky;
    z-index: 100;
    height: 100px;
}
.logo{
    min-width:30%;
    max-width: 100%; 
    height: 70px;
}
#view{
    margin-right: 20px;
}
#view a{
    padding: 5px 10px;
    background: whitesmoke;
    color:  #1a75bc;
    font-size: .9rem;
    border-radius: 5px;
}
#sign a{
    padding: 5px 10px;
    background: hsl(158, 36%, 37%);
    color: whitesmoke;
    font-size: .9rem;
    border-radius: 5px;
}
.nav1{
    display: flex;
    align-items: center;
}
.nav1 ol{
    list-style-type: none;
    color: whitesmoke;
    font-size: 1.1rem;
    padding-left: 0;
    letter-spacing: 5px;
}
.nav1 ol li:first-child{
    margin-bottom: -5px;
}
.hambu{
    border: 2px solid #ffffff;
    padding: 5px 5px 1px 5px;
    cursor: pointer;
    display: none;
    position: relative;
    transform: scale(.8);
}
.hambu::before{
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    animation: zoo .9s ease infinite;
}
@keyframes zoo{
    0%{
        transform: scale(.9);
        opacity: 1;
    }
    100%{
        transform: scale(1.1);
        opacity: 0;
    }
}
.ham{
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    background: #ffffff;
}
.nav2 ol{
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 1.2rem;
}
.nav2 ol a{
    text-decoration: none;
    color: whitesmoke;
    transition: .5s;
}
.lis{
    padding: 37px 15px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    z-index: 2;
}
.lis:after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: whitesmoke;
    transform: scale(0, 1);
    /* transform-origin: 0% 100%; */
    transition: transform .5s ease;
}
.lis:hover:after{
    transform: scale(1, 1);
    /* transform-origin: 100% 0%; */
}
.maincontrol{
    width: 100%;
    height: 585px;
    overflow: hidden;
    position: relative;
}
.main{
    width: 100%;
    height: 590px;
    display: flex;
    animation: 15s slider infinite;
}
@keyframes slider{
    5%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-100%);
    }
    60%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.mainimage{
    min-width: 100%;
    height: 590px;
}
.main1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 590px;
    background: linear-gradient(to top, rgba(26,117,188,1),rgba(0,0,0,.5),rgba(26,117,188,1));
}
.main2{
    color: whitesmoke;
    text-align: center;
    margin-top: -30px;
}
.p1,.p2{
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: -3px;
}
.firstline{
    width: 10%;
    height: 3px;
    background: whitesmoke;
    margin: auto;
}
.thirdline{
    width: 10%;
    height: 4px;
    background: #1a75bc;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;

}
.p1{
    margin-top: 80px;
    margin-bottom: -60px;
}
.p2{
    margin-bottom: 15px;
}
.p3{
    font-size: 1.5rem;
    margin-top: 12px;
    margin-bottom: 10px;
}
.p4{
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 10px;
    color: hsl(158, 36%, 37%);
    background: whitesmoke;
    padding: 5px 10px;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
}
.p5{
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #1a75bc;
}
.p6{
    width: 20px;
    height: 20px;
    padding: 10px 15px 15px 10px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgba(26,117,188,1);
    margin: 0;
}
.p7{
    font-size: 2.5rem;
    font-weight: 900;
    color: whitesmoke;
}
.p8{
    font-size: 1.2rem;
    font-weight: 900;
}
.p9{
    width: 20px;
    height: 20px;
    padding: 10px 10px 15px 15px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgba(26,117,188,1);
    margin: 0;
}
.p10{
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin-top: 60px;
}
.p11{
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
    color: #1a75bc;
    padding-top: 80px;
}
.p12{
    font-weight: bold;
    letter-spacing: 5px;
    font-size: .9rem;
    color: #1a75bc;
}
.p13{
    font-weight: bold;
    letter-spacing: px;
    font-size: 2.5rem;
    color: #ffffff;
    margin-top: -17px;
}
.p14{
    margin-top: -10px;
    color: #ffffff;
    font-size: 1.4rem;
}
.p15{
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 1.5rem;
}
.p16,.p17{
    color: #ffffff;
    font-size: 1.3rem;
}
.p18{
    width: 30%;
    height: 4px;
    background: #ffffff;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.p19{
    font-size: 1.5rem;
    font-weight: bold;
    color: #1a75bc;
    margin-top: 10px;
}
.p20{
    font-size: 1.3rem;
}
.p20::before{
    content: "\27A4";
    color: #1a75bc;
    margin-right: 5px;
}
.p21{
    width: 20%;
    height: 4px;
    background: #1a75bc;
    margin: auto;
    margin-top: 80px;
}
.p22{
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
    color: #1a75bc;
}
.p23{
    width: 20%;
    height: 4px;
    background: #1a75bc;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
}
.p24{
    font-size: 1.4rem;
    font-weight: bold;
    color: #1a75bc;
}
.span1{
    border-bottom: 4px solid #1a75bc;
}
/* maincontrol end */
/* maincontrol mediaquery */
@media all and (max-width:800px){
    .p1,.p2{
        font-size: 3rem;
    }
    .p1{
        margin-bottom: -50px;
    }
    .close{
        margin-top: 10px;
        padding-left: 10px;
    }
    .close button{
        font-size: 2.5rem;
        color: hsl(6, 70%, 34%);
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        text-shadow: 2px 2px 2px #ffffff;
    }
    .nav2{
        width: 0;
        height: 100vh;
        background: rgba(26,117,188,1);
        top: 0;
        position: absolute;
        right: 0;
        transition: .5s;
    }
    .nav2 ol{
        flex-direction: column;
        margin-top: 30px;
    }
    .nav2overlay{
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.5);
        position: fixed;
        z-index: 15;
        top: 0;
        left: 100%;
        transition: .5s;
    }
    .nav2overlay.acti{
        left: 100;
    }
    .nav2 ol li{
        margin-bottom: 20px;
    }
    .lis{
        padding: 0px 0px;
        position: inherit;
    }
    .lis:after{
        content: "";
        width: 0;
        height: 0;
        position: inherit;
    }
    .hambu{
        display: block;
    }
}
@media all and (max-width:600px){
    .p1,.p2{
        letter-spacing: 0;
    }
}
@media all and (max-width:500px){
    .p1,.p2{
        font-size: 2.6rem;
    }
    .p1{
        margin-bottom: -50px;
    }
}
@media all and (max-width:360px){
    .p1,.p2{
        font-size: 2rem;
    }
    .p1{
        margin-bottom: -35px;
    }
}
@media all and (max-width:350px){
    .p4{
        font-size: 2rem;
    }
    .nav1 ol{
        display: none;
    }
}
@media all and (max-width:320px){
    .nav2 ol{
        padding: 0;
    }
}
/* maincontrol mediaquery ends */
/* imagecontrol */
.imagecontrol{
    display: flex;
    width: 90%;
    overflow: auto;
    margin: auto;
    gap: 15px;
    margin-top: -100px;
    z-index: 1;
    position: relative;
}
.imagecontrol::-webkit-scrollbar{
    display: none;
}
.imagecon{
    display: flex;
    justify-content: center;
    min-width: 33%; 
    max-width: 33%;
    height: 300px;
    overflow: hidden;
    background: hsl(52, 100%, 62%);
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
.imagecon .ima{
    position: absolute;
    width: 100%;
    height: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    cursor: pointer;
    transition: .5s;
}
.image{
    width: 100%;
    height: 400px;
    cursor: pointer;
    transition: .5s;
}
.image:hover{
    transform: scale(1.2);
}
/* imagecontrol ends */
/* imagecontrol @media */
@media all and (max-width:850px){
    .imagecontrol{
        width: 95%;
    }
    .imagecon{
        min-width: 50%; 
        max-width: 50%;
    }
}
@media all and (max-width:600px){
    .imagecon{
        min-width: 70%; 
        max-width: 70%;
    }
}
@media all and (max-width:390px){
    .imagecon{
        min-width: 80%; 
        max-width: 80%;
    }
}
@media all and (max-width:340px){
    .imagecon{
        min-width: 90%; 
        max-width: 90%;
    }
}
/* imagecontrol @media ends */
/* score */
.score{
    position: relative;
    display: flex;
    padding: 0 10px;
    width: auto;
    overflow: auto;
    gap: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.score::-webkit-scrollbar{
    display: none;
}
.score1{
    position: absolute;
    top: 0;
    width: auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    display: none;
}
.score2{
    min-width: 25%;
    height: 250px;
    overflow: hidden;
    background: hsl(52, 100%, 62%);
    position: relative;
}
.score2 .clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(100% at 50% 50%);
    background: rgba(0, 0, 0, 0.3);
    transition: clip-path .3s;
}
.score2:hover .clip{
    clip-path: circle(0%);
}
.score3{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background: #1a75bc;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 10px;
}
.score3 ol{
    list-style-type: none;
    font-size: 1.1rem;
    font-weight: 900;
    padding: 0 5px 0 5px;
}
.score3 ol li:first-child{
    margin-bottom: -5px;
}
.score4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}
.logo1{
    min-width: 35%;
    max-width: 100%;
    height: 100px;
}
/* score ends */
/* score @media */
@media all and (max-width:1250px){
    .p7{
        font-size: 2rem;
        font-weight: bold;
    }
}
@media all and (max-width:1100px){
    .p7{
        font-size: 1.8rem;
        font-weight: bold;
    }
    .score2{
        min-width: 30%;
        max-width: 30%;
    }
}
@media all and (max-width:900px){
    .score2{
        min-width: 40%;
        max-width: 40%;
    }
}
@media all and (max-width:670px){
    .score2{
        min-width: 50%;
        max-width: 50%;
    }
}
@media all and (max-width:540px){
    .score2{
        min-width: 70%;
        max-width: 70%;
    }
}
@media all and (max-width:390px){
    .score2{
        min-width: 80%;
        max-width: 80%;
    }
}
@media all and (max-width:340px){
    .p7{
        font-size: 1.4rem;
        font-weight: bold;
    }
    .score2{
        min-width: 90%;
        max-width: 90%;
    }
}
/* score @media ends */
/* video */
.videocontrol1{
    display: flex;
    /* justify-content: center; */
    width: 89%;
    margin: auto;
    gap: 15px;
    margin-top: 30px;
    /* border: 2px solid black; */
    overflow: auto;
}
.videocontrol1::-webkit-scrollbar{
    display: none;
}
.video{
    display: flex;
    justify-content: center;
    min-width: 32%; 
    height: 210px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    position: relative;
}
.video1{
    width: 32%;
    /* min-width: 30%; */
    height: 250px;
    cursor: pointer;
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* border: 2px solid red; */
    /* transition: .5s; */
}
.video1:hover{
    /* transform: scale(.9); */
}
/* .video2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* video ends */
/* video @media*/
@media all and (max-width:1000px){
   .video1{
    min-width: 40%;
   } 
}
@media all and (max-width:800px){
    .video1{
     min-width: 50%;
    } 
    .videocontrol1{
        /* display: flex; */
        /* justify-content: center; */
        width: 100%;
    }
 }
 @media all and (max-width:700px){
    .video1{
     min-width: 70%;
    } 
 }
 @media all and (max-width:600px){
    .video1{
     min-width: 80%;
    } 
 }
 @media all and (max-width:500px){
    .video1{
     min-width: 90%;
    } 
 }
 @media all and (max-width:400px){
    .video1{
     min-width: 100%;
    } 
 }
 @media all and (max-width:300px){
    .video1{
     min-width: 100%;
    } 
 }
 @media all and (max-width:250px){
    .video1{
     min-width: 100%;
    } 
 }
 @media all and (max-width:200px){
    .video1{
     min-width: 100%;
    } 
 }
 @media all and (max-width:150px){
    .video1{
     min-width: 100%;
    } 
 }
/* video @media ends*/
/* about */
.about{
    padding-bottom: 80px;
    background:linear-gradient(to right,rgba(0,0,0,.8),rgba(0,0,0,.8),rgba(0,0,0,.8)), url(istockphoto-1333965446-170667a.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.about1{
    display: flex;
    gap: 20px;
    width: 90%;
    margin: auto;
}
.span2{
    color: #1a75bc;
    font-weight: bold;
    padding: 0 5px 2px 5px;
}
.span3{
    border-bottom: 4px solid #1a75bc;
}
.span4{
    color: #1a75bc;
}
.about11{
    width: 40%;
    height: 400px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
.aboutimgover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.about12{
    width: 60%;
    height: 400px;
    overflow: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    background: rgba(0,0,0,.5);
    padding: 0 20px;
}
.about12::-webkit-scrollbar{
    display: none;
}
.aboutimg{
    width: 100%;
    height: 420px;
}
/* about ends */
/* about @media */
@media all and (max-width:700px){
    .about1{
        flex-direction: column;
        padding-bottom: 80px;
    }
    .about11{
        width: 90%;
        margin: auto;
    }
    .about12{
        width: 85%;
        margin: auto;
    }
    .p11{
        padding-top: 80px;
    }
}
/* about @media ends */
/* about2 */
.about2{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}
.about22{
    width: 33%;
    height: 200px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
.aboutimg2{
    width: 100%;
    height: 220px;
    cursor: pointer;
    transition: .5s;
}
.aboutimg2:hover{
    transform: scale(1.2);
}
.about23{
    width: 33%;
    height: 400px;
    overflow: auto;
    padding: 0 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    background: #1a75bc;
    text-align: center;
}
.about23::-webkit-scrollbar{
    display: none;
}
/* about2 ends*/
/* about2 @media */
@media all and (max-width:700px){
    .about2{
        flex-direction: column;
    }
    .about22,.about23{
        width: 90%;
    }
}
/* about2 @media ends */
/* mission */
.mission{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    gap: 20px;
    background:linear-gradient(to right,rgba(0,0,0,.8),rgba(0, 0, 0, 0.8),rgba(0,0,0,.8)), url(FB_IMG_1664671323936.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.mission1{
    width: 35%;
    height: 400px;
    overflow: auto;
    padding: 20px 20px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
.mission1::-webkit-scrollbar{
    display: none;
}
.mission1 ol{
    font-size: 1.3rem;
    text-align: start;
    list-style-type: none; 
}
.mission1 ol li:before{
    content: "\27A4";
    color: #1a75bc;
    margin-right: 5px;
}
.missionimg{
   max-width: 50px;
   min-width: 50px;
   height: 50px;
   margin-top: 20px;
   padding: 0 0 5px 10px;
   border-left: 4px solid #1a75bc;
   border-bottom: 4px solid #1a75bc;
}
/* mission ends */
/* mission @media */
@media all and (max-width:900px){
    .mission1{
        width: 40%;
    }
}
@media all and (max-width:700px){
    .mission{
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .mission1{
        width: 60%;
        margin: auto;
    }
}
@media all and (max-width:500px){
    .mission1{
        width: 80%;
        margin: auto;
    }
}
/* mission @media ends */
/* contact */
.contact{
    margin-bottom: 20px;
}
.contactcont{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.contact1{
    width: 40%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
    background: rgba(26,117,188,1);
}
.contactimage{
    width: 100%;
    height: 510px;
}
.contact2{
    width: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
    border-right: #1a75bc 4px solid;
    border-left: #1a75bc 4px solid;
    overflow: hidden;
    display: flex;
}
.contact22, .contact23{
    width: 50%;
    text-align: center;
    overflow: auto;
    height: 500px;
}
.contact22::-webkit-scrollbar{
    display: none;
}
.contact23::-webkit-scrollbar{
    display: none;
}
.callus{
    display: flex;
    align-items: center;
    justify-content: center;
}
.callus ol{
    list-style-type: none;
    padding-left: 5px;
}
.callus ol li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    transition: .5s;
}
.callus ol li a:hover{
    color: #1a75bc;
}
.phoneimage{
    min-width: 60px;
    max-width: 60px;
    height: 50px;
}
.follow{
    display: flex;
    justify-content: center;
}
.follow ol{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 0;
}
.followimage{
    min-width: 40px;
    max-width: 40px;
    height: 40px;
}
.followimage1{
    min-width: 45px;
    max-width: 45px;
    height: 45px;
}
.input{
    width: 85%;
    height: 40px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 4px solid #1a75bc;
    font-size: 1.2rem;
    padding: 0 10px 0 10px;
}
.input::-webkit-input-placeholder{
    color: black;
    font-size: 1.2rem;
}
.input1{
    width: 84%;
    font-size: 1.4rem;
    outline: none;
    border: #1a75bc 4px solid;
    padding: 0 10px 0 10px;
}

.input1::-webkit-input-placeholder{
    color: black;
    font-size: 1.4rem;
}
.submit{
    width: 91%;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5px;
    background: #1a75bc;
    border: none;
    outline: none;
}
/* contact ends */
/* contact @media */
@media all and (max-width:1200px){
    .contact2{
        width: 60%;
    }
}
@media all and (max-width:1000px){
    .contact1{
        width: 30%;
    }
    .contact2{
        width: 70%;
    }
}
@media all and (max-width:860px){
    .contactcont{
        flex-direction: column;
    }
    .contact1{
        width: 90%;
        margin: auto;
    }
    .contact2{
        width: 90%;
        margin: auto;
    }
}
@media all and (max-width:650px){
    .contact2{
        flex-direction: column;
    }
    .contact22{
        margin: auto;
        width: 100%;
    }
    .contact23{
        margin: auto;
        width: 100%;
    }
}
@media all and (max-width:330px){
    .callus ol li a{
        font-size: 1rem;
    }
}
/* contact @media ends */
.footer{
    height: 60px;
    background:#1a75bc;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}